.signInScreen {
	height: 100%;
	padding: 24px;
	display: flex;
	flex-direction: column;
}

.signInScreen[data-theme='dark'] {
	--btn-bg: white;
	--btn-text: black;
	--icon: hsl(247, 3.4%, 50.7%);
	--icon-hover-bg: hsl(230deg 11.63% 15%);
	color: white;
}

.signInScreen[data-theme='light'] {
	--btn-bg: black;
	--btn-text: white;
	--icon: hsl(252, 4%, 45.2%);
	--icon-hover-bg: hsl(283, 4.4%, 91.3%);
	color: black;
}

.button {
	all: unset;
	cursor: pointer;
	background: var(--btn-bg);
	color: var(--btn-text);
	padding: 0.8em 1.2em;
	border-radius: 6px;
	text-align: center;
	display: flex;
	align-items: center;
	gap: 0.7em;
}

.iconButton {
	all: unset;
	cursor: pointer;
	background: transparent;
	color: var(--icon);
	padding: 2px;
	border-radius: 8px;
	text-align: center;
	transition: all 200ms ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.iconButton:hover {
	color: var(--text);
	background-color: var(--icon-hover-bg);
}

.failedToLogin {
	margin: 0;
	margin-bottom: 1em;
	text-align: center;
}

.signinScreenContent {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	min-height: 250px;
}

.fadeIn {
	opacity: 0;
	animation: fadeIn 200ms ease forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.screenHeader {
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 24px;
}

.screenTitle {
	margin: 0;
}
